/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

/* HEADER */
.top-header {
  background: #0d2b45;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 110px;
}

/* SIGN UP SECTION */
.signup-section {
  text-align: center;
  padding: 40px 0;
}

.signup-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 35px;
}

/* FORM */
.signup-form {
  width: 70%;
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 25px;
}

.signup-form input {
  width: 100%;
  height: 55px;
  padding: 0 18px;
  font-size: 18px;
  border: 3px solid #7c7c7c;
  border-radius: 4px;
  outline: none;
}

.signup-form input::placeholder {
  color: #444;
}

/* Checkbox group */
.signup-form .checkbox-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  font-size: 16px;
}

/* BUTTON */
.signup-btn {
  margin-top: 25px;
  width: 250px;
  height: 60px;
  background: #0d2b45;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.signup-btn:hover {
  opacity: 0.85;
}
